
    <header style="background-image:url(<%= asset_path 'header.jpg' %>)">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">You know very well<br> </br> who you are</h1>
                <hr>
                
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="row">
                        <i class="fa fa-3x fa-diamond sr-button col-md-2" style="width:100px"></i>
                        <h2 class="section-heading section_heading_customize col-md-10">Heewoo, Lee</h2>
                    </div>
                    <h4>"뚜기두밥 오뚜기밥"</h4>
                    <hr class="light">
                    <p class="text-faded col-md-4"><span class="basic_info_heading">Birth</span> <br> 1994.5.27<br> South Korea</p>
                    <p class="text-faded col-md-4"><span class="basic_info_heading">Address</span> <br> 225-12, Sinjeongno Yangcheon-gu Seoul, South Korea </p>
                    <p class="text-faded col-md-4"><span class="basic_info_heading">Contact</span> <br> +82 10-3911-5766 <br> dlwntj88@gmail.com</p>
                    <p class="col-lg-12"><a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Check Portfolio</a></p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Portfolio</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row margin_zero" >
                <div class="row col-md-12">
                    <div class="col-lg-6 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-star text-primary sr-icons-1"></i>
                            <h3>Main Activity</h3>
                            <div class="row pf_div">
                                <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                                <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                                </p>
                            </div>
                            <div class="row pf_div">
                                <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                                <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                                </p>
                            </div>
                            <div class="row pf_div">
                                <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                                <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-file-text-o text-primary sr-icons-1"></i>
                            <h3>Work Experience</h3>
                            <div class="row pf_div">
                                <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                                <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                                </p>
                            </div>
                            <div class="row pf_div">
                                <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                                <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-paper-plane text-primary sr-icons-2"></i>
                            <h3>Extra Activity & Experience</h3>
                            <div class="row pf_div">
                                <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                                <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                                </p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x fa-heart text-primary sr-icons-2"></i>
                            <h3>Additional Skills & Informations</h3>
                            <div class="row pf_div">
                                <p class="col-sm-2 col-xs-12 pf_date">Jun.2016 - Present</p>
                                <p class="col-sm-10 col-xs-12 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                                </p>
                            </div>
                            <div class="row pf_div">
                                <p class="col-sm-2 pf_date">Jun.2016 - Present</p>
                                <p class="col-sm-10 pf_content">프로그래밍 동아리 '멋쟁이사자처럼'
                                <br><span class="pf_content_header">Ruby on Rails 웹 프레임워크 학습</span>
                                <br><span>- 마케팅 실험신청 페이지 개설/운영(pool.skku.edu), 프론트앤드 개발자</span>
                                <br><span>- 동아리 소개 페이지 개설(sskklub.herokuapp.com), 팀장</span>
                                <br><span>- 대학생 팀빌딩 플랫폼 OneofUs 개설(oneofus.kr), 백앤드 개발자</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="http://oneofus.kr" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/3.jpg", class: 'img-responsive' %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Team Building Service
                                </div>
                                <div class="project-name">
                                    OneofUs
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://sskklub.herokuapp.com" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/4.jpg", class: "img-responsive" %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    SKKU Club Informations 
                                </div>
                                <div class="project-name">
                                    SKKLUB
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://pool.skku.edu" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/5.jpg", class: "img-responsive" %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    SKKU Marketing Experiment Page
                                </div>
                                <div class="project-name">
                                    Pool.skku
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://www.instagram.com/leedy7018/" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/6.jpg", class: "img-responsive" %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Literature Creation
                                </div>
                                <div class="project-name">
                                    1 day 1 writing
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6  popup-gallery">
                    <a href="assets/portfolio/fullsize/1.jpg" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/1.jpg", class: "img-responsive" %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Favorite Images
                                </div>
                                <div class="project-name">
                                    Takoyaki
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 popup-gallery">
                    <a href="assets/portfolio/fullsize/2.jpg" class="portfolio-box">
                        <%= image_tag "portfolio/thumbnails/2.jpg", class: "img-responsive" %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Favorite Images
                                </div>
                                <div class="project-name">
                                    My Mac Pro
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading" style="text-align:center">Need Job: Web Programming, Contents Platform, Branding and Consulting </h2>
                    <hr class="primary">
                    <p></p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>+82 10-5102-7018</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">up0617@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>


